ARKESEL_API_KEY=your_arkesel_api_key
ARKESEL_SENDER_ID=HostelAlert
ARKESEL_RECIPIENT=233XXXXXXXXX
ARKESEL_SMS_URL=https://sms.arkesel.com/api/v2/sms/send
HOSTEL_UNIVERSITY=Ghana Communication Technology University
MONITOR_INTERVAL_MS=1000
MONITOR_RUN_ONCE=false
